<a href="#" class="post_new hover:underline">New Post</a>
<table id="posts" class="shadow-lg bg-white mx-auto">
    <thead>
        <tr>
            <th class="bg-blue-200 border text-left px-8 py-4">Title</th>
            <th class="bg-blue-200 border px-8 py-4 text-center" colspan="3">Actions</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>
<br>



<div id="post-content" class=""></div>
